[Unit]
Description=Менеджер задач
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /opt/task-manager/src/manager_svc/task_svc.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
